
.mainFxmlClass {
    // needed for curved corners of parent stage and scene
}
    .root { 
    -fx-background-color: white; 
    }
    // for white font within the text field.
    
/*    .label .text{
        -fx-text-fill: white;
    }*/
    .text-field {
    -fx-prompt-text-fill: black;
    -fx-text-inner-color: black;
    -fx-background-color: white;
    }
    
    .button{
        -fx-border-color: black;
        -fx-border-width: 0.25;
        -fx-border-radius: 15;
    
    }
    
    .button:hover{
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 15;
        -fx-scale-x: 1.06;
        -fx-scale-y: 1.06;
    }
    .text-field:hover{
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 15;
        -fx-scale-x: 1.032;
        -fx-scale-y: 1.032;
    }
    .radio-button:hover{
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 15;
        -fx-scale-x: 1.05;
        -fx-scale-y: 1.05;
    }
    .check-box:hover{
        -fx-border-color: black;
        -fx-border-width: 1;
        -fx-border-radius: 15;
        -fx-scale-x: 1.05;
        -fx-scale-y: 1.05;
    }

